includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - bin
        - config
        - public
        - src
        - tests
    # vendor/bin/simple-phpunit install
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    checkGenericClassInNonGenericObjectType: false