{% extends 'base.html.twig' %} {% block title %}Mentions légales{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow, noreferrer" />
{% endblock %} {% block main %}
<div>
  <h1>Mentions légales</h1>
  <p>
    Agendanumerique.fr est un site dédié aux agendas numériques de Poitiers et
    ses environs. ce projet est une copie de
    <a
      href="https://github.com/baudelotphilippe/agendanumerique"
      target="_blank"
      rel="noopener noreferrer"
    >
      https://github.com/baudelotphilippe/agendanumerique
    </a>
  </p>

  <p>
    Le site agendanumerique.fr est un service de communication au public en
    ligne édité à titre non professionnel au sens de l’article 6, III, 2° de la
    loi 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
  </p>
  <p>
    Le site est hébergé par OVH SAS, une société immatriculée au RCS Lille
    Métropole sous le numéro 424 761 419, dont le siège social est situé au 2
    rue Kellermann - 59100 Roubaix - France. Les informations personnelles
    permettant d’identifier l’éditeur ont été transmises à l’hébergeur
    conformément à la législation en vigueur.
  </p>
  <p>
    Pour toute question ou réclamation relative au contenu du site (article,
    commentaire, ou autre), vous pouvez contacter directement l’éditeur à
    l’adresse suivante : contact@agendanumerique.fr. Toute demande sera examinée
    avec soin et dans les meilleurs délais.
  </p>
  <p>
    Conformément à la loi, vous avez également la possibilité de vous adresser
    directement à l’hébergeur à l’adresse suivante :
  </p>
  <p>
    OVH SAS<br />
    2 rue Kellermann<br />
    59100 Roubaix<br />
    France
  </p>
</div>
{% endblock %}
