<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Agenda numérique Poitiers{% endblock %}</title>
        <meta name="description" content="{% block description %}Agenda du numérique à Poitiers et ses environs{% endblock %}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="alternate" type="application/rss+xml" href="{{ path('app_event_feed') }}">

        {% block meta %}
        {% endblock %}

        {% block stylesheets %}
            {# {{ ux_controller_link_tags() }} #}
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

            <header class="text-center">
                <a href="{{ path('app_index') }}" class="h2">
                    Agenda du numérique à Poitiers et ses environs
                </a>
            </header>

            <main class="container">
                {% block main %}{% endblock %}
            </main>

        {% endblock %}
    </body>
</html>
